#banner {
  display: flex;
  height:120px;
  min-height:120px;

  #banner-description {
    width: 45%;
    margin-right: -5%;
    padding-top:28px;
    background-color: rgba($color-gis, .6);

    p, h2{
      width: 83%;
      padding-left:25px;
    }
    p { font-family: 'Rubik', sans-serif; }
    h2{ font-family: 'Poppins', sans-serif; }

    @include respond-to(handhelds) { width: 160px; }
  }

  #banner-image {
    width: 60%;
    z-index: 2;
    background: whitesmoke;
    border-radius: 4% 100% 0 77% / 100% 0 33% 0;
    box-shadow: -25px 0 0 0 rgba($color-gis, .7);

    @include respond-to(handhelds) {
      width: 85%;
      border-radius: 0;
      background: $color-navigation;
    }
  }

  @include respond-to(handhelds) {
    height: 80px;
    min-height:80px;
    box-shadow: 0 3px 10px 0 gray;
  }
}
