#footer {
  display: inline-block;
  text-align: center;
  padding: 8px 0 8px 0;
  background: $color-navigation;
  color: $color-font-navigation;
  font-size: 12px;

  #footer-links {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #969a9b;
    display: inline;

    a:link, a:visited { color: $color-font-navigation; }

    span {
      @include respond-to(handhelds) { display: none }
    }

    @include respond-to(handhelds) {
      display: inline-flex;
      flex-direction: column;
    }
  }
}