#nav-bar {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4px;
  z-index: 5;
  background: $color-navigation;

  #nav-item-container {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;

    .nav-item {
      position: relative;
      cursor: pointer;
      color: $color-font-navigation;

      &:after {
        position: absolute;
        overflow: visible;
        content: '';
        top: 100%;
        left: 0;
        width: 0;
        height: 4px;
        transition: width .3s;
      }
      &:nth-child(1):after { background: $color-gis; }
      &:nth-child(2):after { background: $color-addsighting; }
      &:nth-child(3):after { background: $color-viewrecords; }
      &:hover:after, &.active:after { width: 100% }
      &.active { color: white; }
    }
  }

  @include respond-to(handhelds) { display: none !important; }
}
