# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Gradle
/build/
/gradle
/.gradle
/.idea
gradlew
gradlew.bat

# Compiled Classes
*.class

# Tomcat
*.iml

# Web XML
web.xml

# Out
/out/

# ESlint
.eslintrc.json
node_modules/

#package.json
package-lock.json
package.json