// Core colors.
$color-gis: rgba(255, 179, 167, 1);
$color-addsighting: rgba(247, 215, 148, 1);
$color-viewrecords: rgba(144, 202, 249, 1);
$color-navigation: rgb(69, 90, 100, 1);

// Text colors.
$color-font-navigation: rgba(255,255,255,0.5);