/* Credit to Mason Wendell for this clean solution to media queries in Sass.
   http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
 */
.show-spaces {
  white-space: pre;
}

.top-buffer {
  margin-top: 30px;
}

.bottom-buffer {
  margin-bottom: 30px;
}

#banner {
  display: flex;
  height: 120px;
  min-height: 120px;
}
#banner #banner-description {
  width: 45%;
  margin-right: -5%;
  padding-top: 28px;
  background-color: rgba(255, 179, 167, 0.6);
}
#banner #banner-description p, #banner #banner-description h2 {
  width: 83%;
  padding-left: 25px;
}
#banner #banner-description p {
  font-family: "Rubik", sans-serif;
}
#banner #banner-description h2 {
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 750px) {
  #banner #banner-description {
    width: 160px;
  }
}
#banner #banner-image {
  width: 60%;
  z-index: 2;
  background: whitesmoke;
  border-radius: 4% 100% 0 77%/100% 0 33% 0;
  box-shadow: -25px 0 0 0 rgba(255, 179, 167, 0.7);
}
@media only screen and (max-width: 750px) {
  #banner #banner-image {
    width: 85%;
    border-radius: 0;
    background: #455a64;
  }
}
@media only screen and (max-width: 750px) {
  #banner {
    height: 80px;
    min-height: 80px;
    box-shadow: 0 3px 10px 0 gray;
  }
}

#nav-bar {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4px;
  z-index: 5;
  background: #455a64;
}
#nav-bar #nav-item-container {
  display: flex;
  padding-left: 15px;
  justify-content: space-between;
}
#nav-bar #nav-item-container .nav-item {
  position: relative;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
#nav-bar #nav-item-container .nav-item:after {
  position: absolute;
  overflow: visible;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  transition: width 0.3s;
}
#nav-bar #nav-item-container .nav-item:nth-child(1):after {
  background: #ffb3a7;
}
#nav-bar #nav-item-container .nav-item:nth-child(2):after {
  background: #f7d794;
}
#nav-bar #nav-item-container .nav-item:nth-child(3):after {
  background: #90caf9;
}
#nav-bar #nav-item-container .nav-item:hover:after, #nav-bar #nav-item-container .nav-item.active:after {
  width: 100%;
}
#nav-bar #nav-item-container .nav-item.active {
  color: white;
}
@media only screen and (max-width: 750px) {
  #nav-bar {
    display: none !important;
  }
}

#footer {
  display: inline-block;
  text-align: center;
  padding: 8px 0 8px 0;
  background: #455a64;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
#footer #footer-links {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #969a9b;
  display: inline;
}
#footer #footer-links a:link, #footer #footer-links a:visited {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 750px) {
  #footer #footer-links span {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  #footer #footer-links {
    display: inline-flex;
    flex-direction: column;
  }
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

#map {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
