/* ---
   Global Webapp Styles
   --- */
html, body, #map{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column;
}
.top-buffer {
    margin-top: 30px;
}
.bottom-buffer {
    margin-bottom: 30px;
}
.container-fluid {
    padding: 0;
}
#page {
    position: relative;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
/* Limit the navbar overlapping elements */
.sticky-top {
    z-index: 5;
}


/* ---
   Header Carousel
   --- */
.carousel-item {
    height: 125px;
    text-align: center;
}
.carousel-item h1 {
    padding-top: 20px;
}
/* Individual carousel items (header images) */
.carousel-item:nth-child(1) {
}
.carousel-item:nth-child(2) {
    /* Header background image */
    background: url(../assets/img/add_record_header.jpg) 55% 35%;
    background-size:cover;
    /* Text makeup */
    color: white;
    text-shadow: 0 0 5px grey;
}
.carousel-item:nth-child(3) {
}


/* ---
   GIS Page - (Giraffe) Popup
   --- */
.popup-title-container {
    justify-content: space-between;
}
.popup-chart-container {
    min-height: 100px;
    height: 130px;
}
/* Center popup title and increase height for chart on small screens */
@media only screen and (max-width: 580px) {
    .popup-title-container {
        justify-content: center;
    }
    .popup-chart-container {
        height: 200px;
    }
}
/* Create an overlay spanning the popup body */
.popup-overlay {
    position:absolute;
    background-color: #f7f1e3;
    box-sizing: border-box;
    top: 42px;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 50;
}
/* Flickity carousel - Navigation arrow styling */
.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    background: transparent;
}
.flickity-prev-next-button:hover {
    background: transparent;
}
.flickity-prev-next-button.previous {
    left: -10px;
}
.flickity-prev-next-button.next {
    right: -10px;
}
/* Giraffe avatars */
.avatar {
    width: 20%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}
.avatar img{
    cursor: pointer;
    border-radius:50%;
    width: 60px;
    height: 60px;
    transition: box-shadow .3s;
    border: 4px solid rgba(89, 98, 117,0.5);
    margin-bottom: 2px;
}
.avatar.JUVENILE img{
     border: 4px solid rgba(119, 139, 235,0.5);
 }
.avatar.MALEADULT img{
    border: 4px solid rgba(196, 69, 105,0.5);
}
.avatar.MALESUBADULT img{
    border: 5px double rgba(207, 106, 135,0.5);
}
.avatar.FEMALEADULT img{
    border: 4px solid rgba(245, 205, 121,0.5);
}
.avatar.FEMALESUBADULT img{
    border: 5px double rgba(247, 215, 148,0.5);
}
.avatar img:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.4);
}
.flickity-is-clicked img {
    box-shadow: 0 0 20px rgba(245, 205, 121,1.0);
}
.avatar-id {
    color: #969a9b;
    font-family: "Courier", monospace;
}
/* Show 4 Avatars when screens <= 1200px */
@media only screen and (max-width: 1200px) {
    .avatar { width: 25%; }
}
/* Show 3 Avatars when screens <= 1000px */
@media only screen and (max-width: 1000px) {
    .avatar { width: 33%; }
}

/* GIS Giraffe list styling, mostly taken from arcgis layer list */
.giraffe-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.giraffe-list ul {
    display: flex;
    width: 300px;
    color: #323232;
    background-color: #f5f5f5;
    padding: 6px 7px;
    margin-bottom: 0;
}
.giraffe-list li{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid rgba(50,50,50,0.25);
    list-style: none;
    margin: 3px 0;
    padding: 0;
}
.giraffe-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 7px 12px 20px;
}


/* ---
   Navigation bars - Default styling
   --- */
.navbar {
    border: none;
    padding: 0;
    background: #2d3436;
}
.nav-item {
    cursor: pointer;
    position:relative;
}
/* Animated bar under nav items */
.nav-item:after {
    overflow: visible;
    content: '';
    display: block;
    position:absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 4px;
    transition: width .3s;
}
/* On hover, animate the colored bar */
.nav-item:hover:after, .nav-item.active:after {
    width: 100%;
}

/* ---
   Navigation bars - Main navigation bar
   --- */
.main-nav .nav-item {
    padding: 0 5px 4px 5px;
}
/* Nav item bar colors */
.main-nav .navbar-nav .nav-item:nth-child(1):after {
    background: #ea8685;
}
.main-nav .navbar-nav .nav-item:nth-child(2):after {
    background: #f7d794;
}
.main-nav .navbar-nav .nav-item:nth-child(3):after {
    background: #6a89cc;
}

/* ---
   Navigation bars - Tab navigation bars
   --- */
.tab-content {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
}
.tab-pane {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* ---
   Navigation bars - Tab navigation bars - Add sighting page
   --- */
.sighting-nav .nav-item:after, .organism-nav .nav-item:after{
    width: 100%;
    background: #f7d794;
}
/* ---
   Navigation bars - Tab navigation bars - View sightings page
   --- */
.viewsightings-nav .nav-item:after {
    width: 100%;
    background: #6a89cc;
}


/* ---
   Forms - Default
   --- */
form {
    display: flex;
    flex-wrap: wrap;
}
.label-tip {
    font-size: 12px;
    color: #808080;
}
/* Make datepicker module overlap navbar */
.datepicker {
    z-index: 10 !important;
}
/* Lock screen when submitting form. */
#submit-lock {
    background-color: black;
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* ---
   Forms - Add Record
   --- */
/* Change input field focus color to match color scheme */
.addrecord-form .form-control:focus, .addrecord-form .custom-select:focus,
.addrecord-form .btn:focus {
    border-color: #f5cd79;
    box-shadow: 0 0 4px 1px rgba(245, 205, 121, 1);
}
.organism-counter {
    padding-top: 10px;
    text-align: left;
    color: #808080;
}
/* Sighting Tab */
.btn-addrecord {
    background-color: #f7d794;
}
.btn-coords {
    margin-top: 32px;
    background-color: #f7d794;
}
/* Giraffe Tab */
.giraffe-count {
    text-align: right;
}
.btn-plusmin {
    border: 1px solid #e0e0e0;
}
/* Errors */
.error {
    opacity: 0%;
    font-size: smaller;
    color: #c44569;
}
/* Override usual border and focus color when field contains error */
.has-error .form-control, .has-error .btn{
    border: 1px solid #c44569 !important;
}
.has-error .form-control:focus, .has-error .btn:focus {
    border: 1px solid #c44569 !important;
    box-shadow: 0 0 4px 1px rgba(196, 69, 105, 1) !important;
}


/* ---
   View Sightings Page
   --- */
/* TR and TD details (currently disabled) */
td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}
/* Table row pointer for clicking */
tr {
    cursor: pointer;
}
/* Hide search input field */
.dataTables_filter { display: none;}


/* Reset button */
.viewsightings-form .btn {
    background-color: #6a89cc;
    color: white;
}
.btn-reset {
    color: black !important;
    float:right;
    border:2px solid #6a89cc;
    background-color: #ffffff !important;
}
.viewsightings-form .form-control:focus, .viewsightings-form .custom-select:focus,
.viewsightings-form .btn:focus {
    border-color: #6a89cc;
    box-shadow: 0 0 4px 1px rgba(106, 137, 204,1.0);
}
.adv-filter {
    font-size: 1rem;
}
.adv-box {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.adv-box-border {
    padding-top: 10px;
    border-top: 4px solid #6a89cc;
}
/* Range slider theme */
.slidertheme-blue .irs-to,
.slidertheme-blue .irs-from,
.slidertheme-blue .irs-bar,
.slidertheme-blue .irs-handle i {
    background:  #6a89cc !important;
}
.slidertheme-blue .irs-to:before,
.slidertheme-blue .irs-from:before {
    border-top-color: #6a89cc !important;
}


/* ---
   Footer
   --- */
footer {
    display: none;
    padding-top: 15px;
    background: #2d3436;
    text-align:center;
    font-size: 12px;
    color: #969a9b;
}
