/* Header carousel */
.carousel-item > h1, p {
    text-align: center;
}

/* Header navigation bar */
.navbar {
    overflow: hidden;
    border: none;
    padding: 0px;
}
.nav-item a{
    text-align: center;
    padding: 10px 16px;
}
.nav-item:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #f9ca24;
    transition: width .3s;
}
.nav-item:hover:after {
    width: 100%;
}
.nav-item.active:after {
    width: 100%;
}

/* Giraffe group form */
.giraffe-count {
    text-align: right;
}
.giraffe-counter {
    padding-top: 10px;
    text-align: left;
}
.btn-submit {
    background-color: #badc58;
}
.btn-calandar {
    background-color: #f9ca24;
}